<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../public/style/style.css">
    <meta charset="utf-8">
    <title>This is Vending Machine</title>
  </head>
  <body>
    <h1>This is Vending Machine</h1>
    <div class="addItemButton">
     See All <a  href="/items">Items</a>
    </div>
  </body>
</html>
